<!DOCTYPE html>
<html>
<body>


<head>
  <title>Fanfiction Recommender</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <h2>FANFICTION RECOMMENDER SYSTEM</h2>
   
     <img src="{{url_for('static', filename='fanfiction.jpg')}}" />

     <br>
     <br>
     <br>

     <a href="/als" role="button">Recommend Stories </a>




</div>

</body>

</body>
</html>